.fo-btn{
    background-color:var(--yellow-color);
    border:none;
    color:var(--black-color);
    font-weight:500;
    padding:10px 25px;
    cursor:pointer;
    transition: all 0.5s ease-in-out;
}



.fo-btn-text-hover{
    position:absolute;
    top:0;
    left:0;
    opacity:0;
    transform: translateY(100%);
}

.fo-btn-text-main, .fo-btn-text-hover{
    display: block;
  transition: transform 0.5s ease, opacity 0.3s ease;
}

.fo-btn:hover .fo-btn-text-main{
    opacity:0;
    transform: translateY(-100%);
}

.fo-btn:hover .fo-btn-text-hover{
    opacity:1;
    transform: translateY(0)
}

.fo-btn-text{
    position:relative;
    display:inline-block;
}

.fo-btn i{
    display:inline-block;
    margin-left:10px;
    font-weight:700;
    transition: all 0.3s ease-in-out;
}


.f-btn:hover{
    background-color:var(--text-color);
    box-shadow: 0 0 15px var(--yellow-color), 0 0 20px var(--teal-green);
}

.o-btn:hover{
    background-color:currentColor;
    color:currentColor !important;
    box-shadow: 0 0 10px currentColor;
}

.o-btn:hover i{
    color:currentColor !important;

}

.fo-btn:hover i{
    transform: translateX(8px) rotate(360deg);
}

.f-btn,.f-btn i{
    color:var(--black-color);
}

.o-btn{
    background-color:transparent;
    transition: all 0.3s ease-in-out;
}

.order-animation{
    animation: order-animation 2s linear infinite;
}

@keyframes order-animation {
    0%, 100% {
        transform: scale(1.05);
    }
    50% {
        transform: scale(1.1);
    }
}

.order-animation:hover{
    animation-play-state: paused;
}