.order-section {
  background-color: rgb(0, 0, 0) !important;
  padding: 70px 5%;
}

.order-container {
  background-image: url("../../../../public/summary-bg-img.png");
}

.order-text {
  line-height: 1.8;
  letter-spacing: 2px;
  font-size: 15px;
}

.order-img-container {
  position: relative;
}

.order-img {
  width: 100%;
  border-radius: 20px;
}

@media (min-width: 768px) {
  .order-img {
    width: 20%;
    position: absolute;
    top: 0;
    right: 12%;
    transform: rotate(-20deg);
  }
}
