.about-section {
  background-color: var(--black-color);
  padding: 70px 5%;
}

[data-theme="light"] .about-section {
  background: radial-gradient(
    circle at center,
    rgb(180, 180, 180),
    rgb(60, 60, 60)
  );
}

.about-text {
  line-height: 1.8;
  font-size: 18px;
  background-color: var(--yellow-color);
  padding: clamp(25px, 4%, 40px) 8%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--black-color);
}

.heading {
  font-size: 200%;
}

.head-title {
  letter-spacing: 5px;
  text-transform: uppercase;
  font-size: 14px;
}

@media (max-width: 768px) {
  .heading {
    font-size: 100%;
    letter-spacing: 10px !important;
  }
}
