header {
  background-color: var(--black-color);
  padding: 10px 6%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#nav {
  position: fixed;
  top: 0px;
  z-index: 10000;
  width: 92%;
  padding: 10px 0;
  box-shadow: 0 2px 4px rgba(230, 220, 220, 0.2);
}

.navbar-dark {
  --bs-navbar-toggler-icon-bg: url(
    data:image/svg + xml,
    %3csvgxmlns="http://www.w3.org/2000/svg"viewBox="0 0 30 30"%3e%3cpathstroke="rgba%28255, 255, 255, 0.55%29"stroke-linecap="round"stroke-miterlimit="10"stroke-width="2"d="M4 7h22M4 15h22M4 23h22"/%3e%3c/svg%3e
  );
}

.logo {
  width: 40px;
}

.navbar-actions {
  display: flex;
  align-items: center;
  gap: 10px;
}
