* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
  color: var(--text-color);
}

:root {
  --background-color: rgb(8, 8, 8);
  --black-color: rgb(0, 0, 0);
  --transparent-black: rgb(24, 24, 24);
  --yellow-color: rgb(252, 176, 23);
  --orange-color: rgb(255, 128, 0);
  --text-color: rgb(154, 154, 154);
  --text-grey: rgb(99, 98, 98);
  --teal-green: #0dd1c8;
}

[data-theme="dark"] {
  --background-color: rgb(8, 8, 8);
  --black-color: rgb(0, 0, 0);
  --transparent-black: rgb(24, 24, 24);
  --yellow-color: rgb(252, 176, 23);
  --orange-color: rgb(255, 128, 0);
  --text-color: rgb(154, 154, 154);
  --text-grey: rgb(99, 98, 98);
}

[data-theme="light"] {
  --background-color: rgb(30, 30, 30);
  --black-color: rgb(45, 45, 45);
  --transparent-black: rgb(80, 79, 79);
  --yellow-color: rgb(252, 176, 23);
  --orange-color: rgb(255, 128, 0);
  --text-color: rgb(220, 220, 220);
  --text-grey: rgb(180, 180, 180);
}
